html
{
  font-size: 100%;
}

body
{
  width : 100vw;
  height : auto;
  padding : 4%;
  display : flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 1.0rem;
}

/* 기본적으로 인라인 수식은 inline-block 유지 */
.katex {
  display: inline-block;
  vertical-align: -0.3em;
}

/* 디스플레이 모드 수식에는 katex-display 클래스를 사용 */
.katex.katex-display {
  display: block;
  margin: 1em 0;  /* 필요에 따라 여백 추가 */
}




header
{
  width : 100%;
  height : auto;
  text-align: center;
}

header h1
{
  width : 100%;
  height : auto;
  display: block;
  padding-left : 40%;
  padding-right : 40%;
}

header h2, header h1
{
  width : auto;
  height : auto;
  text-align: center;
}

.author
{
  width : 100%;
  height : auto;
  margin-top : 3%;
  margin-left : 5%;
  display : flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 1.1em;
}

.author h3
{
  float : left;
  margin-left : 3%;
}

main
{
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height : auto;
}

.intro
{
  font-size: 1.5em;
  margin-bottom: 20%;
  height : auto;
  width : auto;
  margin-left : 3%;
}

.way
{
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height : auto;
  width : 100%;
  padding-left : 3%;
}

.way_title
{
  margin-left : 2%;
}

.formula_with_text
{
  width : 100%;
  height : auto;
  display : inline-block;
  font-size : 1.5em;
}

.img
{
  width : 70%;
  border : 2px solid black;
}

.img-wrapper {
  position: relative; /* 부모 요소를 기준으로 위치를 설정하기 위해 relative로 설정 */
  display: inline-block; /* img 요소와 sup 요소를 함께 감싸기 위해 inline-block으로 설정 */
}

#img2
{
  width : 40%;
}

.span_link
{
  display : inline;
}

.link_wrapper
{
  display : inline-block;
  width : 2vw;
  height : 4vh;
}


.normal_text
{
  width : auto;
  height : auto;
  font-size : 1.6em; 
}


.formula
{
  display : flex;
  flex-direction: column;
  text-align: left !important;
  font-size : 1.3rem !important;
  width : auto;
  height : auto;
  margin-top : 2%;
  margin-bottom : 2%;
}

.katex-html
{
  align-items: left;
}

.katex-html .base
{
  float : left;
}


footer 
{
  margin-top : 20%;
  width : 100%;
  height : auto;
  display : flex;
  flex-direction: column;
  vertical-align: middle;
}

.footer_lists
{
  list-style: none;
  display : block;
  width : 100%;
  height : auto;
}


.footer_item 
{
  font-size: 1.2em;
  display: block !important;
  width: 100% !important;
  height: auto;
  margin-bottom: 10%;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  
}

.link_source
{
  text-decoration-line: none;
  color : lawngreen;
  font-size: inherit;
  display : inline-block;
  width : auto;
  height : auto;
}

.link_source:visited
{
  text-decoration-line: none;
  color : lawngreen;
}

.link_source:hover
{
  text-decoration-line: underline !important;
  color : lawngreen;
}

.link_in
{
  color: #64DB99;
  text-decoration-line: none;
  font-size: 1.2em;
  display: inline-block;
  width: auto;
  height: auto;
}

.link_in:hover
{
  color : #64DB99;
  text-decoration-line: underline !important;
}

.link_in:visited
{
  color : #64DB99;
  text-decoration-line: none;
}

#temp1
{
  display : inline-block !important;
  width : 100% !important;
  height : auto !important;
  font-size : 1.3em !important;
}

#footer_item2 {
  align-items: left;
  width : 100%  !important;
}

#footer_item2 {
  width : 20%;
  height : auto;
  display : block  !important;
}

#link_source2 {
  display : inline  !important;
  width : 100%;
}

.appendix {
  display : flexbox;
  align-items: center;
  justify-content: center;
  width : 100%;
  margin-top : 10%;
}

#Link_last {
  display : inline-block !important;
  max-width : 100%;
  width : 100%;
  min-width: 95%;
  text-align: center;
  font-size: 2.0rem;
  text-decoration: none;
  color: black;
}

#Link_last :visited, #Link_last :link, #Link_last :active {
  text-decoration: none;
  display : inline-block !important;
  font-size: 2.0rem;
  max-width: 100%;
  width : 100%;
  min-width: 95%;
  color: black;
}

#Link_last :hover {
  text-decoration: underline;
  color:black;
  display: inline-block;
  width: 100%;
  min-width: 95%;
  max-width: 100%;
}