body
{
  width : 100vw;
  height : auto;
  padding : 4%;
  display : flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 1.0em;
}


header
{
  width : 100%;
  height : auto;
  text-align: center;
}

header h1, header h2
{
  width : auto;
  height : auto;
  text-align: center;
}

.author
{
  width : 100%;
  height : auto;
  margin-top : 3%;
  display : flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 1.1em;
}

.author h3
{
  float : left;
  margin-left : 3%;
}

main
{
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height : auto;
}

.intro
{
  font-size: 1.5em;
  margin-bottom: 20%;
  height : auto;
  width : auto;
}

.way
{
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height : auto;
  width : 100%;
}

.img
{
  width : 70%;
  border : 2px solid black;
}

#img2
{
  width : 40%;
}

.explain1
{
  width : 95%;
  height : auto;
  font-size: 1.4em;
}

.explain1 h2
{
  width : 95%;
  height : auto;
}

.explain2
{
  font-size: 1.4em;
  width : 100%;
  height : auto;
}

#explain2
{
  margin-top : 10%;
  margin-bottom : 10%;
}

.formula
{
  display : flex;
  flex-direction: column;
  text-align: left !important;
  font-size : 1.3rem !important;
  width : auto;
  height : auto;
  margin-top : 2%;
  margin-bottom : 2%;
}

.katex-html
{
  align-items: left;
}

.katex-html .base
{
  float : left;
}


footer 
{
  margin-top : 20%;
  width : 100%;
  height : auto;
  display : flex;
  flex-direction: column;
  vertical-align: middle;
  padding : 1%;
}

.footer_lists
{
  list-style: none;
  display : flex;
  flex-direction: column;
  justify-content: left;
}


.footer_item {
  font-size : 1.4em;
}

#footer_item2
{
  font-size: 1em !important;
}

